@font-face {
  font-family: "iconfont"; /* Project id 4574823 */
  src: url('iconfont.woff2?t=1718195604231') format('woff2'),
       url('iconfont.woff?t=1718195604231') format('woff'),
       url('iconfont.ttf?t=1718195604231') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhengyan:before {
  content: "\e640";
}

.icon-biyan:before {
  content: "\e612";
}

.icon-renxiang:before {
  content: "\e61b";
}

.icon-guansuo:before {
  content: "\e65e";
}

.icon-zizhucan:before {
  content: "\e818";
}

.icon-dingdan:before {
  content: "\e68d";
}

.icon-xiaoshoue-copy:before {
  content: "\e600";
}

.icon-dingdan1:before {
  content: "\e98d";
}

.icon-xiaoshoue:before {
  content: "\e601";
}

